__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

.idea/
.vscode/
.pytest_cache/

downloads/*
!downloads/.gitkeep
definitions/*
!definitions/.gitkeep
review_papers/*
!review_papers/.gitkeep

*.log
*.tmp
